footer
    .container
        .row
            .col-md-6
                a(href='index.html' title='').link-logo
                    img(src='img/logo/logo.png' title='Tutoria' alt='Tutoria')
            .col-md-6
                ul.footer-social
                    li
                        a(href='//www.facebook.com/studio.tutoria/' title='' alt='') Facebook
                    li
                        a(href='//www.instagram.com/studia_tutoria/' title='' alt='') Instagram
                    li
                        a(href='' title='' alt='') Telegram

script(type="text/javascript" src="js/jquery.js")
script(type="text/javascript" src="js/vendor.js")
script(type="text/javascript" src="js/scripts.js")

