nav
    .container
        .row
            .col-6.col-md-2
                a(href='index.html' title='').link-logo
                    img(src='img/logo/logo.png' title='Tutoria' alt='Tutoria')

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-10.nav-panel
                ul.menu
                    li
                        a(href='about.html' title='') Про нас
                    li
                        a(href='projects.html' title='') Проекти
                    li
                        a(href='blog.html' title='') Блог
                    li
                        a(href='contacts.html' title='') Контакти
                ul.menu-button
                    li
                        a(href='sign.html' title='').button Записатись до студії