nav
    .container
        .row
            .col-6.col-md-3.col-xl-2.col-lg-3
                a(href='index.html' title='').link-logo
                    img(src='img/logo/logo.png' title='Tutoria' alt='Tutoria')

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-9.col-lg-9.col-xl-10.nav-panel
                ul.menu
                    li
                        a(href='about.html' title='').active Про нас
                    li
                        a(href='projects.html' title='') Проекти
                    li
                        a(href='blog.html' title='') Блог
                    li
                        a(href='contacts.html' title='') Контакти
                ul.menu-button
                    li
                        a(href='//goo.gl/forms/qhjg5j0KaWuYsRZn2' title='' target='blank').button Записатись до студії


//- Что происходит при нажатии на кнопку “Записатись до студії“?
//Запис на навчання: https://goo.gl/forms/qhjg5j0KaWuYsRZn2

//- Что происходит при нажатии на кнопку “Приєднайся до команди“?
//Долучитись до команди: https://goo.gl/forms/r0Rch7bWDh25HLpk1

//- Что происходит при нажатии на кнопки с ценами за занятия?
//Запис на тренінги: https://goo.gl/forms/H1lwXm0lO4Pyn2IB3