@import '../../../utilities/vars'
@import '../../../utilities/mixins'

input[type='text'].error,
input[type='password'].error,
input[type='email'].error
  color $red
  +placeholder()
    color $red
  &:focus
    color inherit

input[type='checkbox'].error + label
  color $red

input[type='radio'].error + label
  color $red

textarea.error
  color $red
  +placeholder()
    color $red


input.error + label, textarea.error + label
  display block


.back-gray
  label
    bottom -22px
    +mobile()
      bottom -5px
  textarea + label
    bottom 0
