/* Proxima Nova */

/* normal */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot');
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
/* italic */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
html {
	overflow-x: hidden;
	-ms-touch-action: none;
	    touch-action: none;
}
body {
	overflow-x: hidden;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	line-height: normal;
	background: #fff;
	height: auto !important;
}
@media (max-width: 767px) {
	body {
		padding-top: 56px !important;
	}
}
.contacts .menu li .active {
	color: #fbae17;
}
.contacts .menu li a:hover {
	color: #fbae17;
}
.contacts .menu-button li .button {
	background: #fbae17;
	border-color: #fbae17;
}
.contacts .menu-button li .button:hover {
	color: #fbae17;
}
.contacts h2 {
	font-size: 2.25rem;
}
@media (max-width: 767px) {
	.contacts h2 {
		font-size: 1.5rem;
	}
}
@media (max-width: 767px) {
	.contacts p {
		font-size: .875rem;
	}
}
h1 {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 3.375rem;
	font-weight: 700;
	color: #000;
	line-height: normal;
	margin-bottom: 2.5rem;
}
@media (max-width: 767px) {
	h1 {
		font-size: 2rem;
	}
}
h2 {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 3.375rem;
	font-weight: 700;
	color: #000;
	line-height: normal;
	margin-bottom: 2.75rem;
}
@media (max-width: 767px) {
	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}
h2 a {
	color: #000;
}
h2 a:hover {
	color: #fbae17;
}
.no-margin {
	margin: 0;
}
h3 {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 2.25rem;
	font-weight: 700;
	color: #000;
	line-height: normal;
	margin-bottom: 1.875rem;
}
.heading-project {
	margin-bottom: 1.3rem;
}
h4 {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	color: #000;
	line-height: normal;
	margin-bottom: 0;
	margin-top: .75rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}
@media (max-width: 767px) {
	h4 {
		font-size: 1rem;
	}
}
p {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	line-height: normal;
	margin-bottom: 1rem;
}
hr {
	border: 0;
	height: 1px;
	background: #000;
	margin: 1em 0;
}
.black {
	color: #000;
}
.white {
	color: #fff;
}
.gray {
	color: #a9a9a9;
}
a {
	text-decoration: none;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-logo {
	display: block;
	max-width: 160px;
	padding: 20px 0 21px;
}
@media (max-width: 767px) {
	.link-logo {
		max-width: 129px;
		padding: 13px 0;
	}
}
.link-logo img {
	width: 100%;
}
.link-birds {
	display: block;
}
.link-up {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	opacity: 0;
}
.link-up.visible {
	opacity: 1;
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
button:focus {
	outline: none;
}
.button {
	display: block;
	width: 236px;
	border-radius: 100px;
	text-align: center;
	border: 2px solid #fbae17;
	background: #fbae17;
	color: #fff;
	padding-top: 9px;
	padding-bottom: 10px;
	margin-bottom: 1rem;
}
.button:hover {
	color: #000;
	background: transparent;
}
.button-white {
	background: #fff;
	color: #000;
	font-size: 1.125rem;
	width: 159px;
	border: 2px solid #fff;
}
.button-white:hover {
	background: #fbae17;
}
.button-big {
	width: 100%;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
ol {
	padding: 0;
	margin: 0;
}
.ul-regular li {
	padding-left: 1rem;
	position: relative;
	margin-bottom: 1rem;
}
.ul-regular li:before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 2px;
	background: #000;
	top: 9px;
	left: 0;
}
.ul-filter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin-bottom: 1rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
}
.ul-filter li {
	margin: 1rem;
}
.ul-filter li a {
	padding: 1rem;
	background: #000;
	color: #fff;
}
.ul-filter li a:hover {
	color: #000;
	background: #a9a9a9;
}
.ul-filter li .active {
	color: #000;
	background: #a9a9a9;
}
.ol-regular {
	margin-left: 1rem;
}
.ol-regular li {
	margin-bottom: 1rem;
}
.form-half-input {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
}
.form-half-input .form-group {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(50% - 1rem);
	    -ms-flex: 1 1 calc(50% - 1rem);
	        flex: 1 1 calc(50% - 1rem);
	max-width: calc(50% - 1rem);
}
@media (max-width: 767px) {
	.form-half-input .form-group {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
	}
}
.form-group {
	position: relative;
}
.form-group label {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: .875em;
	color: #d0021b;
	display: none;
}
@media (max-width: 767px) {
	.form-group label {
		bottom: -4px;
	}
}
.button.send {
	display: block;
}
.button.success {
	display: none;
	position: relative;
}
.button.success span {
	position: absolute;
	right: -100px;
	top: 10px;
	color: #fff;
}
input {
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 1.75rem;
	margin-top: .875rem;
	border: none;
	border-bottom: 2px dotted #fff;
	padding: 10px 0 10px;
	background: transparent;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	font-size: 1.125rem;
	color: #fff;
}
input:focus {
	outline: none;
}
input:focus:-moz-placeholder {
	opacity: 1;
}
input:focus::-moz-placeholder {
	opacity: 1;
}
input:focus:-ms-input-placeholder {
	opacity: 1;
}
input:focus::-webkit-input-placeholder {
	opacity: 1;
}
input:-moz-placeholder {
	color: #fff;
	opacity: .5;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
input::-moz-placeholder {
	color: #fff;
	opacity: .5;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
input:-ms-input-placeholder {
	color: #fff;
	opacity: .5;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
input::-webkit-input-placeholder {
	color: #fff;
	opacity: .5;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	input {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}
}
textarea {
	-webkit-appearance: none;
	resize: none;
	margin-bottom: 1.35rem;
	width: 100%;
	height: 140px;
	margin-top: .5rem;
	padding: 11px 0 12px;
	border: none;
	border-bottom: 2px dotted #000;
	background: transparent;
}
textarea:-moz-placeholder {
	color: #000;
	opacity: .5;
}
textarea::-moz-placeholder {
	color: #000;
	opacity: .5;
}
textarea:-ms-input-placeholder {
	color: #000;
	opacity: .5;
}
textarea::-webkit-input-placeholder {
	color: #000;
	opacity: .5;
}
textarea:focus {
	outline: none;
}
.input-two {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: .875rem;
}
@media (max-width: 767px) {
	.input-two {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}
.input-two .form-group {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 47%;
	    -ms-flex: 1 1 47%;
	        flex: 1 1 47%;
	max-width: 47%;
}
@media (max-width: 767px) {
	.input-two .form-group {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
	}
}
input[type='text'].error, input[type='password'].error, input[type='email'].error {
	color: #d0021b;
}
input[type='text'].error:-moz-placeholder, input[type='password'].error:-moz-placeholder, input[type='email'].error:-moz-placeholder {
	color: #d0021b;
}
input[type='text'].error::-moz-placeholder, input[type='password'].error::-moz-placeholder, input[type='email'].error::-moz-placeholder {
	color: #d0021b;
}
input[type='text'].error:-ms-input-placeholder, input[type='password'].error:-ms-input-placeholder, input[type='email'].error:-ms-input-placeholder {
	color: #d0021b;
}
input[type='text'].error::-webkit-input-placeholder, input[type='password'].error::-webkit-input-placeholder, input[type='email'].error::-webkit-input-placeholder {
	color: #d0021b;
}
input[type='text'].error:focus, input[type='password'].error:focus, input[type='email'].error:focus {
	color: inherit;
}
input[type='checkbox'].error + label {
	color: #d0021b;
}
input[type='radio'].error + label {
	color: #d0021b;
}
textarea.error {
	color: #d0021b;
}
textarea.error:-moz-placeholder {
	color: #d0021b;
}
textarea.error::-moz-placeholder {
	color: #d0021b;
}
textarea.error:-ms-input-placeholder {
	color: #d0021b;
}
textarea.error::-webkit-input-placeholder {
	color: #d0021b;
}
input.error + label, textarea.error + label {
	display: block;
}
.back-gray label {
	bottom: -22px;
}
@media (max-width: 767px) {
	.back-gray label {
		bottom: -5px;
	}
}
.back-gray textarea + label {
	bottom: 0;
}
video {
	width: 100%;
	height: 320px;
	margin-bottom: 1rem;
}
.video-youtube {
	width: 100%;
	height: 320px;
	margin-bottom: 1rem;
}
#map {
	width: 100%;
	height: 573px;
}
@media (max-width: 767px) {
	#map {
		height: 337px;
	}
}
section {
	margin-bottom: 7.675rem;
}
@media (max-width: 767px) {
	section {
		margin-bottom: 3rem;
	}
}
article {
	margin-bottom: 2.5rem;
}
article img {
	width: 100%;
	margin-bottom: 2rem;
}
article p {
	font-size: 1.125em;
	line-height: 1.44;
	margin-bottom: 1.75rem;
}
article ul, article ol {
	margin-bottom: 1.638rem;
}
article ul li, article ol li {
	line-height: 1.44;
	font-size: 1.125em;
	margin-bottom: .125rem;
}
@media (max-width: 767px) {
	article ul li, article ol li {
		font-size: .875rem;
	}
}
article ol {
	margin-left: 1.25rem;
}
article ul li {
	position: relative;
	padding-left: 10px;
}
article ul li:before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 0;
	width: 5px;
	height: 1px;
	background: #000;
}
article h4 {
	letter-spacing: normal;
	margin-bottom: .25rem;
	text-transform: none;
}
article iframe {
	width: 100%;
	height: 250px;
}
main {
	background: #fff;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	main {
		position: relative;
		z-index: 100;
	}
}
@media (max-width: 767px) {
	body {
		padding-top: 50px;
	}
	nav {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 200;
	}
	.nav-panel {
		display: none;
		padding-top: 15px;
		padding-bottom: 15px;
		height: 100vh;
	}
}
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 200;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	padding: 27px 0;
}
@media (max-width: 767px) {
	nav {
		padding: 3px 0;
		background: #fff;
	}
}
nav.nav-scroll {
	padding: 12px 0;
	background: #fff;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);
	        box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);
}
@media (max-width: 767px) {
	nav.nav-scroll {
		padding: 3px 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
}
nav.nav-scroll .link-logo {
	padding: 10px 5px;
}
@media (max-width: 767px) {
	nav.nav-scroll .link-logo {
		padding: 13px 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
}
@media (max-width: 767px) {
	nav.nav-scroll .menu li a {
		color: #000;
	}
}
nav.nav-scroll .menu li a:hover {
	color: #fbae17;
}
@media (max-width: 767px) {
	nav.nav-scroll .menu li a:hover {
		color: #fbae17;
	}
}
nav.nav-scroll .menu li .active {
	color: #fbae17;
}
nav.nav-scroll .menu-button li a {
	border: 2px solid #fbae17;
	background: #fbae17;
}
nav.nav-scroll .menu-button li a:hover {
	color: #fbae17;
}
.nav-panel {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
@media (max-width: 767px) {
	.nav-panel {
		display: none;
		padding: 30px 15px;
	}
}
.menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 100%;
	width: 60%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 767px) {
	.menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		        align-items: flex-start;
		width: 100%;
		height: auto;
		padding-top: 20%;
	}
}
@media (max-device-width: 767px) and (orientation: landscape) {
	.menu {
		padding-top: 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}
.menu li {
	margin-right: 49px;
}
@media (max-width: 767px) {
	.menu li {
		margin: 0;
		display: block;
		width: 100%;
		margin-bottom: .5rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 30%;
		    -ms-flex: 1 1 30%;
		        flex: 1 1 30%;
		max-width: 30%;
	}
}
.menu li:last-child {
	margin-right: 0;
}
.menu li a {
	display: block;
	font-size: 1.125rem;
	color: #000;
	padding: 15px 0;
}
@media (max-width: 767px) {
	.menu li a {
		font-size: 1.5rem;
		text-align: center;
	}
}
.menu li a:hover {
	color: #fff;
}
@media (max-width: 767px) {
	.menu li a:hover {
		color: #fbae17;
	}
}
.menu li .active {
	color: #fff;
}
@media (max-width: 767px) {
	.menu li .active {
		color: #fbae17;
	}
}
.menu-button {
	width: 40%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 100%;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 767px) {
	.menu-button {
		width: 100%;
		height: auto;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		        justify-content: center;
		margin: .5rem 0;
	}
}
.menu-button li .button {
	margin-bottom: 0;
	border: 2px solid #fff;
	background: transparent;
}
.menu-button li .button:hover {
	background: transparent;
	color: #fff;
	border-color: #fbae17;
}
@media (max-width: 767px) {
	.menu-button li .button {
		font-size: 1.5rem;
		border-color: #fbae17;
		width: 290px;
		background: #fbae17;
	}
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: block;
	}
}
.nav-icon {
	width: 50px;
	height: 22px;
	position: relative;
	margin: 14px 0;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fbae17;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 18px;
}
.nav-icon.open span:nth-child(1) {
	top: 18px;
	width: 0;
	left: 50%;
}
.nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.nav-icon.open span:nth-child(4) {
	top: 18px;
	width: 0;
	left: 50%;
}
.birds {
	position: absolute;
	top: 25px;
	left: 50px;
	z-index: 300;
}
@media (max-width: 767px) {
	.birds {
		display: none;
	}
}
header {
	margin-bottom: 4rem;
}
@media (max-width: 767px) {
	header {
		margin-bottom: 3rem;
	}
}
.jumbotron {
	padding: 5.875rem 0;
}
@media (max-width: 767px) {
	.jumbotron {
		padding: 3rem 0;
	}
}
.jumbotron h1, .jumbotron h2 {
	display: inline;
	color: #fff;
}
.header-index {
	background: url('../img/illus/screen1.png') no-repeat center center;
	background-size: cover;
	height: 946px;
	padding: 5.313rem 0;
}
@media (max-width: 767px) {
	.header-index {
		padding-top: 0;
		height: 520px;
	}
}
.header-about {
	background: url('../img/illus/screen2.png') no-repeat center center;
	background-size: cover;
	height: 1011px;
	padding: 5.313rem 0;
	position: relative;
	overflow: hidden;
}
@media (max-width: 767px) {
	.header-about {
		padding-top: 0;
		height: 520px;
	}
}
.header-projects {
	background: url('../img/illus/screen3.jpg') no-repeat center center;
	background-size: cover;
	height: 926px;
	padding: 5.313rem 0;
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
}
.header-projects:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(98,63,152,.5);
}
@media (max-width: 767px) {
	.header-projects {
		padding-top: 0;
		height: 520px;
	}
}
.header-planes {
	position: absolute;
	left: 0;
	max-width: 844px;
}
@media (max-width: 767px) {
	.header-planes {
		bottom: 115px;
		right: 15px;
	}
}
@media (max-width: 767px) {
	.header-planes--big {
		display: none;
	}
}
.header-planes--small {
	position: relative;
	top: 800px;
	left: -800px;
}
@media (max-width: 767px) {
	.header-planes--small {
		top: 0;
		right: 0;
		left: auto;
		position: absolute;
		max-width: 80px;
	}
}
.header-contacts {
	margin-top: 120px;
}
@media (max-width: 767px) {
	.header-contacts {
		margin-top: 0;
	}
}
.header-blog {
	margin-top: 120px;
	padding: 3.6rem 0 0;
	margin-bottom: 3rem;
}
@media (max-width: 767px) {
	.header-blog {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.header-blogin {
	margin-top: 120px;
	padding: 1.95rem 0 0;
	margin-bottom: 3rem;
}
.header-blogin h2 {
	font-size: 1.688em;
	line-height: 1;
	margin-bottom: .35rem;
}
.header-blogin h1 {
	line-height: 1;
	margin-bottom: .75rem;
}
.header-blogin h3 {
	font-size: 1.688em;
	line-height: 1.48;
	font-weight: 400;
}
@media (max-width: 767px) {
	.header-blogin {
		margin-top: 0;
		margin-bottom: 0;
	}
}
footer {
	padding-bottom: 4.7rem;
}
@media (max-width: 767px) {
	footer .link-logo {
		max-width: 161px;
	}
}
.footer-social {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	height: 100%;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	        justify-content: flex-end;
}
@media (max-width: 767px) {
	.footer-social {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		        justify-content: flex-start;
		margin: 5px 0 20px;
	}
}
.footer-social li {
	margin-left: 3rem;
}
@media (max-width: 767px) {
	.footer-social li {
		margin-left: 0;
		margin-right: 2rem;
	}
}
.footer-social li a {
	display: block;
	color: #000;
	font-size: 1.125em;
}
@media (max-width: 767px) {
	.footer-social li a {
		font-size: .875em;
	}
}
.footer-social li a:hover {
	color: #fbae17;
}
.slick-loading .slick-list {
	background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;
}
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/slick/slick.eot');
	src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
.slider {
	position: relative;
	overflow: hidden;
}
.slider .arrow {
	position: absolute;
	text-align: center;
	z-index: 100;
	top: 5%;
	cursor: pointer;
}
@media (max-width: 767px) {
	.slider .arrow img {
		max-width: 30px;
		width: 100%;
	}
}
.slider .arrow.left {
	left: 0;
}
.slider .arrow.right {
	right: 0;
}
.slider .slider-item {
	padding: 0 6rem;
}
@media (max-width: 767px) {
	.slider .slider-item {
		padding: 0;
	}
}
.slider .slider-item p {
	font-size: 1.125em;
}
@media (max-width: 767px) {
	.slider .slider-item p {
		font-size: .875em;
	}
}
.slider .slider-item--comment {
	margin-bottom: 1.25rem;
}
@media (max-width: 767px) {
	.slider .slider-item--comment {
		padding: 0 3rem;
	}
}
.slider .slider-item--author {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.slider .slider-item--author-photo {
	height: 64px;
	width: 64px;
	border-radius: 50%;
	overflow: hidden;
	border: solid 1px #979797;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 64px;
	    -ms-flex: 1 1 64px;
	        flex: 1 1 64px;
	max-width: 64px;
}
.slider .slider-item--author-photo img {
	width: 100%;
}
.slider .slider-item--author-text {
	padding-left: 2rem;
	max-width: calc(100% - 64px);
}
.modaal-container {
	max-width: 920px;
	position: relative;
}
.modaal-content-container {
	padding: 0 15px;
}
.modaal-close {
	position: absolute;
	top: 0;
	left: 0;
}
.modaal-close:before, .modaal-close:after {
	background: #d0021b;
	height: 28px;
	border-radius: 0;
}
.team-member--image {
	width: 201px;
	height: 201px;
	border-radius: 50%;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	margin: 20px 0;
	position: relative;
}
.team-member--image img {
	height: 100%;
}
.team-member--image .team-gif {
	position: relative;
	z-index: 10;
	border-radius: 50%;
}
.team-member--image .team-img {
	position: absolute;
	z-index: 20;
	border-radius: 50%;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	.team-member--image .team-img {
		display: none;
	}
}
.team-member--image:hover .team-img {
	opacity: 0;
}
.team-member--blue {
	background: #001e7e;
	padding-top: 35px;
	padding-bottom: 44px;
}
.team-member--white {
	background: #fff;
	padding-top: 34px;
	padding-bottom: 36px;
}
.team-member--white h3 {
	font-size: 1.688em;
	margin-bottom: 0;
}
.team-member--description {
	-webkit-columns: 2;
	   -moz-columns: 2;
	        columns: 2;
}
@media (max-width: 767px) {
	.team-member--description {
		-webkit-columns: 1;
		   -moz-columns: 1;
		        columns: 1;
	}
}
.team-member--description p {
	color: #fff;
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .625em;
	color: #bebebe;
	position: relative;
	top: -3px;
	margin-right: 5px;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #bebebe;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}
.study-container {
	height: 246px;
	position: relative;
	overflow: hidden;
	display: block;
	padding: 18px 15px;
}
@media (max-width: 767px) {
	.study-container {
		margin-bottom: 1rem;
	}
}
.study-container h3 {
	z-index: 3;
	position: absolute;
	margin-bottom: 0;
	left: 15px;
	bottom: 15px;
}
.study-container:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(251,174,23,.7);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	z-index: 1;
	opacity: 0;
}
.study-container--back {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.study-container--back img {
	height: 100%;
}
@media (max-width: 767px) {
	.study-container--back img {
		width: 100%;
		height: auto;
	}
}
.study-container:hover:after {
	opacity: 1;
}
.section-numbers {
	background: url('../img/illus/numbers/numbers-back.png') no-repeat center center;
	background-size: cover;
	padding: 4.125rem 0 5.3rem;
	margin-bottom: 4.3rem;
}
.section-numbers h2 {
	color: #fff;
	margin-bottom: 2.25rem;
}
.section-numbers--block {
	padding-right: 4rem;
	margin-bottom: 2rem;
}
@media (max-width: 767px) {
	.section-numbers--block {
		padding-right: 0;
	}
}
.section-numbers--block h2 {
	font-size: 4.5rem;
	line-height: 1;
	margin-bottom: 0;
}
@media (max-width: 767px) {
	.section-numbers--block h2 {
		font-size: 2.75rem;
	}
}
.section-numbers--block p {
	color: #fff;
	font-size: 1.125rem;
}
@media (max-width: 767px) {
	.section-numbers--block p {
		font-size: .875rem;
	}
}
.section-valued {
	position: relative;
}
.section-valued--block {
	position: relative;
	z-index: 2;
}
@media (min-width: 768px) and (max-width: 991px) {
	.section-valued--block {
		margin-bottom: 2rem;
	}
}
@media (max-width: 767px) {
	.section-valued--block {
		margin-bottom: 1rem;
	}
}
.section-valued--block p {
	font-size: 1.125em;
	margin-bottom: 0;
}
.section-valued--block ul li {
	font-size: 1.125em;
}
.section-valued .birds-back {
	position: absolute;
	top: 0;
	left: calc(50% - 790px);
	z-index: 1;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.section-valued .birds-back {
		max-width: 100%;
		left: 0;
	}
}
@media (max-width: 767px) {
	.section-valued .birds-back {
		left: 50%;
	}
}
.section-loved {
	position: relative;
	overflow: hidden;
	background: #623f98;
	margin-bottom: 4.5rem;
}
.section-loved--block {
	padding-top: 3.875rem;
	padding-bottom: 5.6rem;
	padding-left: 36px;
}
@media (max-width: 767px) {
	.section-loved--block {
		padding-left: 0;
	}
}
.section-loved--block h2 {
	color: #fff;
}
.section-loved--block ul li {
	color: #fff;
	font-size: 1.125rem;
	line-height: 1.125;
	margin-bottom: 1.5rem;
}
.section-loved .loved-back {
	position: absolute;
	top: 0;
	right: -135px;
}
@media (min-width: 1600px) {
	.section-loved .loved-back {
		right: 0;
	}
}
@media (max-width: 767px) {
	.section-loved .loved-back {
		display: none;
	}
}
.purple-black {
	background: #623f98;
}
.section-send {
	background: #fbae17;
	padding-top: 3.75rem;
	padding-bottom: 2.75rem;
	margin-bottom: 4rem;
}
@media (max-width: 767px) {
	.section-send {
		margin-bottom: 3rem;
	}
}
.section-send h3 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
}
@media (max-width: 767px) {
	.section-send h3 {
		margin-bottom: 1.125rem;
	}
}
.back-gray {
	background: #e1e1e1;
	padding: 60px 0 45px;
	margin-bottom: 4rem;
}
.back-gray h3 {
	font-size: 1.5rem;
	font-weight: 600;
}
@media (max-width: 767px) {
	.back-gray h3 {
		margin-bottom: 1.125rem;
	}
}
.back-gray input {
	border-color: #000;
	margin-bottom: .3rem;
}
.back-gray input:-moz-placeholder {
	color: #000;
	opacity: .5;
}
.back-gray input::-moz-placeholder {
	color: #000;
	opacity: .5;
}
.back-gray input:-ms-input-placeholder {
	color: #000;
	opacity: .5;
}
.back-gray input::-webkit-input-placeholder {
	color: #000;
	opacity: .5;
}
@media (max-width: 767px) {
	.back-gray input {
		margin-bottom: 1.5rem;
	}
}
.section-team {
	padding-top: 30px;
	margin-bottom: 6.25rem;
}
.team-container {
	display: block;
	margin-bottom: 4rem;
	margin-top: 2rem;
	position: relative;
}
.team-container .team-bird {
	position: absolute;
	height: auto;
	z-index: 30;
}
.team-container .team-bird1 {
	top: 210px;
	right: 96px;
	-webkit-transform: rotate(-6.09deg);
	    -ms-transform: rotate(-6.09deg);
	        transform: rotate(-6.09deg);
}
.team-container .team-bird2 {
	top: 42px;
	-webkit-transform: rotate(15.45deg);
	    -ms-transform: rotate(15.45deg);
	        transform: rotate(15.45deg);
	right: 0;
}
.team-container .team-bird3 {
	-webkit-transform: rotate(-31.46deg);
	    -ms-transform: rotate(-31.46deg);
	        transform: rotate(-31.46deg);
	top: 175px;
	right: 13px;
}
.team-container .team-bird4 {
	-webkit-transform: rotate(-31.82deg);
	    -ms-transform: rotate(-31.82deg);
	        transform: rotate(-31.82deg);
	top: 100px;
	left: -74px;
}
.team-container .team-bird5 {
	-webkit-transform: rotate(5.45deg);
	    -ms-transform: rotate(5.45deg);
	        transform: rotate(5.45deg);
	bottom: 224px;
	left: -66px;
}
.team-container--image {
	width: 255px;
	height: 255px;
	border-radius: 50%;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 1rem;
	position: relative;
}
.team-container--image img {
	height: 100%;
}
.team-container--image .team-gif {
	position: relative;
	z-index: 10;
	border-radius: 50%;
}
.team-container--image .team-img {
	position: absolute;
	z-index: 20;
	border-radius: 50%;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	.team-container--image .team-img {
		display: none;
	}
}
@media (max-width: 767px) {
	.team-container--image {
		width: 209px;
		height: 209px;
	}
	.team-container--image .plus {
		width: 100%;
	}
}
.team-container:hover .team-img {
	opacity: 0;
}
.team-container--description h3 {
	font-size: 1.688rem;
	margin-bottom: 0;
}
.team-container--description p {
	font-size: 1.125rem;
	margin-bottom: 1.125rem;
}
.course-container {
	padding: 23px 7px 6px;
	margin: 0 0 20px;
	min-height: 214px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.course-container--note {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	        align-items: flex-end;
}
.course-container--note div {
	width: 100%;
}
.course-container h4 {
	font-size: 1.3125rem;
	margin-top: 0;
	margin-bottom: 7px;
}
.course-container p {
	font-size: 1.125em;
}
.course-container ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.course-container ul li {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 50%;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
	max-width: 50%;
	font-size: 1.125em;
	margin-bottom: 1.25rem;
	padding-right: 1rem;
}
@media (max-width: 767px) {
	.course-container ul li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
	}
}
.course-container .button {
	max-width: 324px;
	width: 100%;
}
.course-container .button:hover {
	color: #fbae17;
}
.course--back-green {
	background: rgba(17,158,118,.1);
}
.course--back-green:hover {
	background: rgba(17,158,118,.5);
}
.course--back-purple {
	background: rgba(98,63,152,.1);
}
.course--back-purple:hover {
	background: rgba(98,63,152,.5);
}
.course--back-crimson {
	background: rgba(238,64,61,.1);
}
.course--back-crimson:hover {
	background: rgba(238,64,61,.5);
}
.course-big {
	margin-bottom: 3.75rem;
}
.course-middle {
	min-height: 244px;
	margin-bottom: 3.75rem;
}
#first, #second, #third {
	padding-top: 80px;
	margin-bottom: 0;
}
#third {
	margin-bottom: 3rem;
}
.blog-container {
	display: block;
	margin-bottom: 88px;
}
.blog-container--image {
	width: 100%;
	height: 200px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
	margin-bottom: 1.75rem;
	position: relative;
}
.blog-container--image img {
	width: 100%;
}
.blog-container--image:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(251,174,23,.7);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	z-index: 1;
	opacity: 0;
}
@media (max-width: 767px) {
	.blog-container--image:after {
		opacity: 1;
	}
}
.blog-container--description-date {
	margin-bottom: 0;
	font-size: 1.125em;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.blog-container--description h3 {
	font-size: 1.688em;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.blog-container:hover .blog-container--description-date, .blog-container:hover .blog-container--description h3 {
	color: #fbae17;
}
.blog-container:hover .blog-container--image:after {
	opacity: 1;
}
.menu li a {
	padding: 22px 0;
}
.menu .dropdown-link {
	position: relative;
	z-index: 20;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 22px;
	margin-top: 22px;
}
.menu .dropdown-link:after, .menu .dropdown-link:before {
	content: '';
	display: block;
	position: absolute;
	right: -16px;
	top: 10px;
	width: 9px;
	height: 2px;
	background: #000;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	.menu .dropdown-link:after, .menu .dropdown-link:before {
		display: none;
	}
}
.menu .dropdown-link:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	right: -21px;
}
.menu .dropdown-link:hover:before, .menu .dropdown-link:hover:after {
	background: #fff;
}
.menu .dropdown-link.active {
	padding-bottom: 22px;
	margin-bottom: 0;
	color: #fff;
}
.menu .dropdown-link.active:before, .menu .dropdown-link.active:after {
	background: #fff;
}
.dropdown-panel {
	position: absolute;
	background: #fff;
	left: 0;
	top: 100%;
	width: 720px;
	padding: 15px;
	-webkit-transition: .4s all ease;
	     -o-transition: .4s all ease;
	        transition: .4s all ease;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);
	        box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
@media (max-width: 767px) {
	.dropdown-panel {
		display: none;
	}
}
.dropdown-panel li a {
	padding: 0;
	font-size: .938rem;
	color: #000;
	display: block;
}
.dropdown-panel li a:hover {
	color: #fbae17 !important;
}
.dropdown-panel--head-link {
	font-size: 1.125rem;
	font-weight: 700;
	color: #000;
	padding: 0;
	padding-bottom: 13px;
	border-bottom: 2px solid #fbae17;
	margin-bottom: 14px;
	color: #000;
	display: block;
}
.dropdown-panel--head-link:hover {
	color: #fbae17;
}
.dropdown-panel--subhead-link {
	font-weight: 700;
	margin-bottom: 3px;
	padding: 0;
	color: #000;
	display: block;
}
.dropdown-panel--subhead-link:hover {
	color: #fbae17;
}
.dropdown-panel ul {
	margin-bottom: 19px;
}
.dropdown-panel ul li {
	margin-bottom: 3px;
}
.dropdown-panel.visible {
	opacity: 1;
	visibility: visible;
	z-index: 100;
}