@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden
  touch-action: none;

body
  overflow-x hidden
  font(1rem, $black, 400, normal)
  background $white
  //height auto !important

  +mobile()
    padding-top 56px !important

    //height 100% !important
    touch-action: none;

