@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden
  touch-action: none;

body
  overflow-x hidden
  font(1rem, $black, 400, normal)
  background $white
  height auto !important
  +mobile()
    padding-top 56px !important

.contacts
  .menu li .active
    color $yellow
  .menu li a:hover
    color $yellow
  .menu-button li .button
    background $yellow
    border-color $yellow
    &:hover
      color $yellow
  h2
    font-size 2.250rem
    +mobile()
      font-size 1.5rem
  p
    +mobile()
      font-size .875rem
