@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden
  touch-action: auto;

body
  overflow-x hidden
  font(1rem, $black, 400, normal)
  background $white
  height auto !important
  touch-action: auto;
  +mobile()
    padding-top 56px !important
