.course-container
  padding: 23px 7px 6px;
  margin 0 0 20px
  min-height 214px
  &--note
    display flex
    align-items  flex-end
    div
      width 100%
  h4
    font-size: 1.3125rem;
    margin-top 0
    margin-bottom: 7px;
  p
    font-size 1.125em
  ul
    list-flex(row)
    flex-wrap wrap
    padding-top 1.5rem
    padding-bottom 1.5rem
    li
      flex 1 1 50%
      max-width 50%
      font-size 1.125em
      margin-bottom 1.25rem
      padding-right 1rem
      +mobile()
        flex 1 1 100%
        max-width 100%
  .button
    max-width: 324px;
    width 100%

.course--back-green
  background $green

.course--back-purple
  background $purple2

.course--back-crimson
  background $crimson

.course-big
  margin-bottom 3.75rem

.course-middle
  min-height 244px
  margin-bottom 3.75rem

#first,#second,#third
  padding-top 80px
  margin-bottom 0

#third
  margin-bottom 3rem


