.section-numbers
  background url('../img/illus/numbers/numbers-back.png') no-repeat center center
  background-size cover
  padding 4.125rem 0 4.25rem
  margin-bottom: 4.3rem;
  h2
    color $white
    margin-bottom 2.25rem
  &--block
    padding-right 4rem
    margin-bottom 2rem
    +mobile()
      padding-right 0
    h2
      font-size 4.5rem
      line-height 1
      margin-bottom 0
      +mobile()
        font-size 2.750rem
    p
      color $white
      font-size 1.125rem
      +mobile()
        font-size .875rem