.section-send
  background $yellow
  padding-top 3.75rem
  padding-bottom 2.75rem
  margin-bottom 4rem
  +mobile()
    margin-bottom 3rem
  h3
    color $white
    font-size $s24
    font-weight 600
    +mobile()
      margin-bottom 1.125rem