.section-send
  background $yellow
  padding-top 3.75rem
  padding-bottom 2.75rem
  margin-bottom 4rem
  +mobile()
    margin-bottom 3rem
  h3
    color $white
    font-size $s24
    font-weight 600
    +mobile()
      margin-bottom 1.125rem

.back-gray
  background $gray-back
  padding 60px 0 45px
  margin-bottom 4rem
  h3
    font-size $s24
    font-weight 600
    +mobile()
      margin-bottom 1.125rem
  input
    border-color $black
    margin-bottom: .3rem;
    +placeholder()
      color $black
      opacity .5
    +mobile()
      margin-bottom 1.5rem