.study-container
  height 246px
  position relative
  overflow hidden
  display block
  padding 18px 15px
  +mobile()
    margin-bottom 1rem
  h3
    z-index 3
    position absolute
    margin-bottom 0
    left 15px
    bottom 15px
  &:after
    pseudo(block, absolute)
    top 0
    left 0
    right 0
    bottom 0
    background rgba(251, 174, 23, .7)
    transitions()
    z-index 1
    opacity 0
    //+mobile()
    //  opacity 1
  &--back
    display flex
    align-items center
    justify-content center
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 1
    img
      height 100%
    +mobile()
      img
        width 100%
        height auto
  &:hover
    &:after
      opacity 1