.section-team
  padding-top 30px
  margin-bottom: 6.25rem;

.team-container
  display block
  margin-bottom 4rem
  margin-top 2rem
  &--image
    width: 255px;
    height: 255px;
    border-radius 50%
    overflow hidden
    display flex
    align-items center
    justify-content center
    margin-bottom 1rem
    position relative
    img
      height 100%
    .team-gif
      position relative
      z-index 10
    .team-img
      position absolute
      z-index 20
      transitions()
      +mobile()
        display none
    +mobile()
      width 209px
      height 209px
      .plus
        width 100%
  &:hover
    .team-img
      opacity 0

  &--description
    h3
      font-size $s27
      margin-bottom 0
    p
      font-size 1.125rem
      margin-bottom: 1.125rem;
