.section-team
  padding-top 30px
  margin-bottom: 6.25rem;


.team-container
  display block
  margin-bottom 4rem
  margin-top 2rem
  position relative

  .team-bird
    position absolute
    height auto
    z-index 30
  .team-bird1
    top: 210px;
    right: 96px;
    transform: rotate(-6.09deg);

  .team-bird2
    top 42px
    transform: rotate(15.45deg);
    right: 0;
  .team-bird3
    transform: rotate(-31.46deg);
    top: 175px;
    right: 13px;
  .team-bird4
    transform: rotate(-31.82deg);
    top: 100px;
    left: -74px;
  .team-bird5
    transform: rotate(5.45deg);
    bottom: 224px;
    left: -66px;



  &--image
    width: 255px;
    height: 255px;
    border-radius 50%
    overflow hidden
    display flex
    align-items center
    justify-content center
    margin-bottom 1rem
    position relative
    img
      height 100%
    .team-gif
      position relative
      z-index 10
      border-radius 50%
    .team-img
      position absolute
      z-index 20
      border-radius 50%
      transitions()
      +mobile()
        display none


    +mobile()
      width 209px
      height 209px
      .plus
        width 100%
  &:hover
    .team-img
      opacity 0

  &--description
    h3
      font-size $s27
      margin-bottom 0
    p
      font-size 1.125rem
      margin-bottom: 1.125rem;
