@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  margin-bottom 7.675rem
  +mobile()
    margin-bottom 3rem

article
  margin-bottom 2.5rem
  img
    width 100%
    margin-bottom 2rem
  p
    font-size 1.125em
    line-height: 1.44;
    margin-bottom 1.75rem

  ul, ol
    margin-bottom 1.638rem
    li
      line-height: 1.44;
      font-size 1.125em
      margin-bottom: .125rem;
      +mobile()
        font-size .875rem
  ol
    margin-left 1.25rem
  ul
    li
      position relative
      padding-left 10px
      &:before
        pseudo(block, absolute)
        top 12px
        left 0
        width 5px
        height 1px
        background $black
  h4
    letter-spacing normal
    margin-bottom: .25rem;
    text-transform none
  iframe
    width 100%
    height 250px


aside {}

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100


