@import '../../utilities/vars'
@import '../../utilities/mixins'

header
  margin-bottom 4rem
  +mobile()
    margin-bottom 3rem

.jumbotron
  padding: 5rem 0;
  +mobile()
    padding 3rem 0
  h1, h2
    display inline
    color $white

.header-index
  background url('../img/illus/screen1.png') no-repeat center center
  background-size cover
  height 920px
  padding 5.313rem 0
  +mobile()
    padding-top 0
    height 520px