@import '../../utilities/vars'
@import '../../utilities/mixins'

header
  margin-bottom 4rem
  +mobile()
    margin-bottom 3rem

.jumbotron
  padding: 5rem 0;
  +mobile()
    padding 3rem 0
  h1, h2
    display inline
    color $white

.header-index
  background url('../img/illus/screen1.png') no-repeat center center
  background-size cover
  height 920px
  padding 5.313rem 0
  +mobile()
    padding-top 0
    height 520px

.header-about
  background url('../img/illus/screen2.png') no-repeat center center
  background-size cover
  height 1011px
  padding 5.313rem 0
  position relative
  overflow hidden
  +mobile()
    padding-top 0
    height 520px

.header-projects
  background url('../img/illus/screen3.jpg') no-repeat center center
  background-size cover
  height 900px
  padding 5.313rem 0
  position relative
  overflow hidden
  margin-bottom: 5rem;
  &:before
    pseudo(block, absolute)
    top 0
    left 0
    right 0
    bottom 0
    background-color: rgba(98, 63, 152, 0.5);
  +mobile()
    padding-top 0
    height 520px

.header-planes
  position absolute
  left 0
  max-width 844px
  +mobile()
    bottom 115px
    right 15px
  &--big
    +mobile()
      display none
  &--small
    position relative
    top 800px
    left -500px
    +mobile()
      top 0
      right 0
      left: auto
      position absolute
      max-width 80px


.header-contacts
  margin-top 120px
  +mobile()
    margin-top 0
