@import '../../utilities/vars'
@import '../../utilities/mixins'

.slick-loading .slick-list
  background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;

@font-face
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');




.slider
  position relative
  overflow hidden
  .arrow
    position absolute
    text-align center
    z-index 100
    top 5%
    cursor pointer
    +mobile()
      img
        max-width 30px
        width 100%


  .arrow.left
    left 0
  .arrow.right
    right 0

  .slider-item
    padding 0 6rem
    +mobile()
      padding 0

    p
      font-size 1.125em
      +mobile()
        font-size .875em
    &--comment
      margin-bottom 1.25rem
      +mobile()
        padding 0 3rem
    &--author
      display flex

      &-photo
        height 64px
        width 64px
        border-radius 50%
        overflow hidden
        border: solid 1px #979797;
        flex 1 1 64px
        max-width 64px
        img
          width 100%
      &-text
        padding-left 2rem
        max-width: calc(100% - 64px);
