@import '../../utilities/vars'
@import '../../utilities/mixins'

.slick-loading .slick-list
  background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;

@font-face
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');




.slider
  position relative
  overflow hidden
  .arrow
    position absolute
    text-align center
    z-index 100
    top 5%
    cursor pointer
    .fa
      font-size 6.5rem
      color $yellow


  .arrow.left
    left 0
  .arrow.right
    right 0

  .slider-item
    padding 0 6rem
    p
      font-size 1.125em

    &--comment
      margin-bottom 1.25rem
    &--author
      display flex
      &-photo
        margin-right 2rem
        height 64px
        width 64px
        border-radius 50%
        overflow hidden
        border: solid 1px #979797;
        img
          width 100%