include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body.contacts

        include ../partials/_navigation.pug
        main
            .container
                .row
                    .col-12
                        a(href='index.html' title='').link-birds
                            img(src='img/illus/birds.png').birds

            block content

            include ../partials/_footer.pug