//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    header.header-about
        .container
            .row.justify-content-center
                .col-md-10
                    .jumbotron
                        h2  Ми — команда мрійників і реалістів. Віримо, що нема потреби витрачати все життя на пошуки себе, якщо можна присвятити цей час творенню себе.
        .header-planes(data-0="top:55%; left:0%" data-1200-end="top:-200%; left:200%")
            img(src='img/illus/plane1.png').header-planes--big
            img(src='img/illus/plane22.png').header-planes--small

    section.section-team
        .container
            .row.justify-content-center
                .col-md-10
                    h2 Наш колектив
            .row
                .col-md-6.col-lg-4
                    a(href='#team-member' title='' alt='').team-container.inline
                        img(src='img/illus/bird-blue.png').team-bird.team-bird1
                        .team-container--image
                            img(src='img/illus/teachers/teacher1.gif' title='' alt='').team-gif
                            img(src='img/illus/teachers/teacher1.jpg' title='' alt='').team-img

                        .team-container--description
                            h3 Інна Хлистік
                            p Керівник та ідейний натхненник студії Tutoria. Викладач української мови та літератури
                            p
                                b Освіта:
                                |  Волинський національний університет ім. Лесі Українки
                .col-md-6.col-lg-4
                    a(href='#team-member' title='' alt='').team-container.inline
                        img(src='img/illus/bird-blue.png').team-bird.team-bird2
                        .team-container--image
                            img(src='img/illus/teachers/teacher2.gif' title='' alt='').team-gif
                            img(src='img/illus/teachers/teacher2.jpg' title='' alt='').team-img
                        .team-container--description
                            h3 Діна Мущенко
                            p Викладач української мови та літератури
                            p
                                b Освіта:
                                |  Національний педагогічний університет ім. М.П. Драгоманова

                            p
                                i Переможець Всеукраїнського конкурсу-захисту науково-дослідницьких робіт учнів-членів Малої академії наук України (секція “Фольклористика”)
                .col-md-6.col-lg-4
                    a(href='#team-member' title='' alt='').team-container.inline
                        img(src='img/illus/bird-blue.png').team-bird.team-bird3
                        .team-container--image
                            img(src='img/illus/teachers/teacher3.gif' title='' alt='').team-gif
                            img(src='img/illus/teachers/teacher3.jpg' title='' alt='').team-img
                        .team-container--description
                            h3 Тетяна Синьоок
                            p Викладач української мови та літератури
                            p
                                b Освіта:
                                |  Київський національний університет ім. Тараса Шевченка, Кандидат філологічних наук.

                            p
                                i Переможець Всеукраїнських учнівських і студентських олімпіад з української мови та літератури (2006, 2007, 2012).

                            p Бал ЗНО з української мови та літератури:
                                b
                                    |  195.5
                .col-md-6.col-lg-4
                    a(href='#team-member' title='' alt='').team-container.inline
                        img(src='img/illus/bird-blue.png').team-bird.team-bird4
                        .team-container--image
                            img(src='img/illus/teachers/teacher4.gif' title='' alt='').team-gif
                            img(src='img/illus/teachers/teacher4.jpg' title='' alt='').team-img
                        .team-container--description
                            h3 Людмила Дідух
                            p Викладач історії України
                            p
                                b Освіта:
                                |  Національний університет «Києво-могилянська Академія»

                            p
                                i Кандидат історичних наук
                .col-md-6.col-lg-4
                    a(href='#team-member' title='' alt='').team-container.inline
                        img(src='img/illus/bird-blue.png').team-bird.team-bird5
                        .team-container--image
                            img(src='img/illus/teachers/teacher4.gif' title='' alt='').team-gif
                            img(src='img/illus/teachers/teacher4.jpg' title='' alt='').team-img
                        .team-container--description
                            h3 Ірина Бабічук
                            p Викладач хімії
                            p
                                b Освіта:
                                |  Волинський національний університет ім. Лесі Українки

                            p
                                i Аспірантура інституту загальної та неорганічної хімії НАН України
                .col-md-6.col-lg-4
                    a(href='//goo.gl/forms/r0Rch7bWDh25HLpk1' title='' alt='' target='blank').team-container
                        .team-container--image
                            img(src='img/illus/icons/plus.svg' title='' alt='').plus
                        .team-container--description
                            h3 Приєднуйся до команди
                            p Ми в постійному пошуку талановитих викладачів. Надсилай своє резюме, якщо хочеш стати частиною Тutoria


    #team-member(style='display: none')
        .row.justify-content-center.team-member--white
            .col-lg-3.col-md-4
                .team-member--image
                        img(src='img/illus/teachers/teacher4.gif' title='' alt='').team-gif
                        img(src='img/illus/teachers/teacher4.jpg' title='' alt='').team-img
            .col-lg-7.col-md-6
                .team-member--headeing
                h3 Тетяна Синьоок
                p Викладач української мови та літератури
                p
                    b Освіта:
                    |  Київський національний університет ім. Тараса Шевченка
                p
                    i Переможець Всеукраїнських учнівських і студентських олімпіад з української мови та літератури (2006, 2007, 2012)
                p Бал ЗНО з української мови та літератури:
                    b  195.5
        .row.justify-content-center.team-member--blue
            .col-md-10
                .team-member--description
                    p
                        b Мене надихають:
                        |  подорожі, сон, музика
                    p
                        b У моєму житті на вагу золота:
                        |  цікаві люди й цікаві книжки
                    p
                        b Остерігаюся:
                        |  Недоброзичливих людей, невихованих собак, окремих котів
                    p
                        b Стежу за:
                        |  розвитком української художньої гімнастики
                    p
                        b Мої досягнення:
                        |  збірка оповідань «Сіра веселка», блог про сучасний український літературний процес «Читацький процес»
                    p
                        b Іноді не можу заснути:
                        |  від радості, що на світі є цікаві книжки
                    p
                        b Правило життя:
                        |  людині насправді належить те, що вона віддає іншим