//- layouts/layout.pug
extend layouts/_layout-contacts.pug

block title
    | Главная страница

block content

    header.header-blog
        .container
            .row.justify-content-center
                .col-md-10
                    h1 Блог

    section
        .container
            .row.justify-content-center

                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”
                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”
                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”

                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”
                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”
                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”

                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”
                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”
                .col-md-6.col-lg-4
                    a(href='blogin.html' title='').blog-container
                        .blog-container--image
                            img(src='img/illus/screen3.jpg' title='' alt='')
                        .blog-container--description
                            p.blog-container--description-date 26 вересня 2018
                            h3 Починається набір на новий курс “антисуржик”

                .col-md-8.col-lg-4
                    a(href='' title='').button.button-big Показати ще