//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    header.header-index
        .container
            .row.justify-content-center
                .col-10
                    .jumbotron
                        h1 Tutoria
                        h2  — це маленька й затишна студія навчання та розвитку особистості.
    section
        .container
            .row.justify-content-center
                .col-10
                    h2 Навчаємо
                .col-4
                    a(href='' title='' alt='').study-container
                        .study-container--heading
                            h3 Школярі
                        .study-container--back
                            img(src='img/illus/study/study1.png' title='' alt='')
                .col-4
                    a(href='' title='' alt='').study-container
                        .study-container--heading
                            h3 ЗНО
                        .study-container--back
                            img(src='img/illus/study/study2.png' title='' alt='')
                .col-4
                    a(href='' title='' alt='').study-container
                        .study-container--heading
                            h3 Дорослі
                        .study-container--back
                            img(src='img/illus/study/study3.png' title='' alt='')
    section
        .container
            .row.justify-content-center
                .col-10
                    h2 Tutoria в цифрах
                .col-3
                    h2 181
                    p Середній бал ЗНО учнів
                .col-3
                    h2 198
                    p Середній бал ЗНО вчителів
                .col-3
                    h2 400+
                    p Випускників студії
                .col-3
                    h2 7000+
                    p Занять проведено за різними напрямками
    section
        .container
            .row.justify-content-center
                .col-10
                    h2 Tutoria в цифрах
                .col-3
                    h3 Актуальні знання
                    p Розробляємо власні підручники й навчальні програми.
                .col-3
                    h3 Креативні викладачі
                    p Уроки в Тьюторії — це не конспекти та лекції, а ретельно продумані інтерактивні презентації, візуальні хрестоматії та навчальні ігри.
                .col-3
                    h3 Завжди на зв’язку
                    p Спілкування необмежує-мо навчальним графіком. Викладачам можна написати в соцмережах — допоможемо запершої нагоди.
                .col-3
                    h3 Гнучкий підхід
                    p Заняття:
                    ul
                        li — у студії та скайпом;
                        li - у групах й індивідуально;
                        li — у першу та другу зміни.
    section
        .container
            .row
                .col-6
                .col-6
                    h2 Чому нас люблять?
                    ul
                        li — Можемо пояснити граматику через футбол і шахи;
                        li — Учень стомився - викладач 3 хвилини помедитує разом з ним;
                        li — Завжди порадимо, що почитати, переглянути, відвідати;
                        li — У нас сонячні кімнати та м’які пуфи :)

    section
        .container
            .row.justify-content-center
                .col-10
                    h2 Відгуки
                .col-8
                    .slider
                        .slier-item
                            .slider-item--comment
                                p "Наш Ілля із захопленням розповідав про все що відбувалося у зимовому таборі. Вдячні за креативний підхід до навчання, творчий політ педколективу, тепло, затишок, турботу і любов до наших дітей!"
                            .slider-item--author
                                img(src='' title=)
                                h3 ДОВБУШ РАЇСА
                                p Тиждень інтенсивів з Української мови

    section
        .container
            .row
                .col-10
                    h3 Підпишись на розсилку Tutoria
                    form
                        input(type='text' placeholder='Ім’я')
                        input(type='email' placeholder='E-mail')
                        button.button Надіслати





