//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    header.header-projects
        .container
            .row
                .offset-1.col-md-6
                    .jumbotron
                        h2  Уроки в Tutoria – це ефективно, весело, креативно.

    section#first
        .container
            .row.justify-content-center
                .col-md-10
                    h2.no-margin ЗНО
                    h3.heading-project Групові заняття
                .col-12
                    .row.course-container.course-big.course--back-green
                        .col-11
                            h4 ПІДГОТОВКА ДО ЗНО
                            p Українська мова / Історія України / Хімія
                            ul
                                li —  2 заняття на тиждень по 90хв.
                                li — Графік Пн / Вт / Ср / Чт / Пт 16:00 / 17:45 / 19:30
                                li — Вступне тестування для визначення рівня знань
                                li — Щосеместру контроль знань та звіт про успішність навчання
                        .col-md-5.order-md-1.order-2
                            p 1200грн / семестр + 130грн підручник
                            a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                        .col-md-7.course-container--note.order-md-2.order-1
                            div
                                p.no-margin КУРС ТРИВАЄ 5 СЕМЕСТРІВ
                                p Тривалість семестру — 5 тижнів
                .col-md-10
                    h3 Індивідуальні заняття
                .col-md-6
                    .row.course-container.course-middle.course--back-green
                        .col-12
                            h4 ПІДГОТОВКА ДО ЗНО
                            p Українська мова / Історія України / Хімія
                        .col-md-8.course-container--note
                            div
                                p Дистанційно
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-md-6
                    .row.course-container.course-middle.course--back-green
                        .col-12
                            h4 ПІДГОТОВКА ДО ЗНО В СТУДІЇ
                            p Українська мова / Історія України / Хімія
                        .col-md-8.course-container--note
                            div
                                p Заняття в студії
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-md-10
                    h3 Тренінги
                .col-lg-4.col-md-6
                    .row.course-container.course--back-green
                        .col-12
                            h4 ЕКСПРЕС КУРС З УКРАЇНСЬКОЇ МОВИ
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-green
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (ХІМІЯ)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-green
                        .col-12
                            h4 ІДЕАЛЬНЕ ВСЕ «200 СЛІВ УСПІХУ»
                        .col-md-10.course-container--note
                            div
                                p 8 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-green
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (ІСТОРІЯ УКРАЇНИ)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                .col-lg-4.col-md-6
                    .row.course-container.course--back-green
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (УКР. МОВА ТА ЛІТЕРАТУРА)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                .col-lg-4.col-md-6
                    .row.course-container.course--back-green
                        .col-12
                            h4 ЕКСПРЕС КУРС З УКРАЇНСЬКОЇ ЛІТЕРАТУРИ
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
    section#second
        .container
            .row.justify-content-center
                .col-md-10
                    h2.no-margin ШКОЛЯРІ
                    h3.heading-project Групові заняття
                .col-12
                    .row.course-container.course-big.course--back-crimson
                        .col-11
                            h4 ПІДГОТОВКА ДО ЗНО
                            p Українська мова / Історія України / Хімія
                            ul
                                li —  2 заняття на тиждень по 90хв.
                                li — Графік Пн / Вт / Ср / Чт / Пт 16:00 / 17:45 / 19:30
                                li — Вступне тестування для визначення рівня знань
                                li — Щосеместру контроль знань та звіт про успішність навчання
                        .col-md-5.order-md-1.order-2
                            p 1200грн / семестр + 130грн підручник
                            a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                        .col-md-7.course-container--note.order-md-2.order-1
                            div
                                p.no-margin КУРС ТРИВАЄ 5 СЕМЕСТРІВ
                                p Тривалість семестру — 5 тижнів
                .col-md-10
                    h3 Індивідуальні заняття
                .col-md-6
                    .row.course-container.course-middle.course--back-crimson
                        .col-12
                            h4 ПІДГОТОВКА ДО ЗНО
                            p Українська мова / Історія України / Хімія
                        .col-md-8.course-container--note
                            div
                                p Дистанційно
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-md-6
                    .row.course-container.course-middle.course--back-crimson
                        .col-12
                            h4 ПІДГОТОВКА ДО ЗНО В СТУДІЇ
                            p Українська мова / Історія України / Хімія
                        .col-md-8.course-container--note
                            div
                                p Заняття в студії
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-md-10
                    h3 Тренінги
                .col-lg-4.col-md-6
                    .row.course-container.course--back-crimson
                        .col-12
                            h4 ЕКСПРЕС КУРС З УКРАЇНСЬКОЇ МОВИ
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-crimson
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (ХІМІЯ)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-crimson
                        .col-12
                            h4 ІДЕАЛЬНЕ ВСЕ «200 СЛІВ УСПІХУ»
                        .col-md-10.course-container--note
                            div
                                p 8 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-crimson
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (ІСТОРІЯ УКРАЇНИ)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                .col-lg-4.col-md-6
                    .row.course-container.course--back-crimson
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (УКР. МОВА ТА ЛІТЕРАТУРА)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                .col-lg-4.col-md-6
                    .row.course-container.course--back-crimson
                        .col-12
                            h4 ЕКСПРЕС КУРС З УКРАЇНСЬКОЇ ЛІТЕРАТУРИ
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
    section#third
        .container
            .row.justify-content-center
                .col-md-10
                    h2.no-margin ДОРОСЛІ
                    h3.heading-project Групові заняття
                .col-12
                    .row.course-container.course-big.course--back-purple
                        .col-11
                            h4 ПІДГОТОВКА ДО ЗНО
                            p Українська мова / Історія України / Хімія
                            ul
                                li —  2 заняття на тиждень по 90хв.
                                li — Графік Пн / Вт / Ср / Чт / Пт 16:00 / 17:45 / 19:30
                                li — Вступне тестування для визначення рівня знань
                                li — Щосеместру контроль знань та звіт про успішність навчання
                        .col-md-5.order-md-1.order-2
                            p 1200грн / семестр + 130грн підручник
                            a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                        .col-md-7.course-container--note.order-md-2.order-1
                            div
                                p.no-margin КУРС ТРИВАЄ 5 СЕМЕСТРІВ
                                p Тривалість семестру — 5 тижнів
                .col-md-10
                    h3 Індивідуальні заняття
                .col-md-6
                    .row.course-container.course-middle.course--back-purple
                        .col-12
                            h4 ПІДГОТОВКА ДО ЗНО
                            p Українська мова / Історія України / Хімія
                        .col-md-8.course-container--note
                            div
                                p Дистанційно
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-md-6
                    .row.course-container.course-middle.course--back-purple
                        .col-12
                            h4 ПІДГОТОВКА ДО ЗНО В СТУДІЇ
                            p Українська мова / Історія України / Хімія
                        .col-md-8.course-container--note
                            div
                                p Заняття в студії
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-md-10
                    h3 Тренінги
                .col-lg-4.col-md-6
                    .row.course-container.course--back-purple
                        .col-12
                            h4 ЕКСПРЕС КУРС З УКРАЇНСЬКОЇ МОВИ
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-purple
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (ХІМІЯ)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-purple
                        .col-12
                            h4 ІДЕАЛЬНЕ ВСЕ «200 СЛІВ УСПІХУ»
                        .col-md-10.course-container--note
                            div
                                p 8 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button 200грн / заняття
                .col-lg-4.col-md-6
                    .row.course-container.course--back-purple
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (ІСТОРІЯ УКРАЇНИ)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                .col-lg-4.col-md-6
                    .row.course-container.course--back-purple
                        .col-12
                            h4 ТИЖДЕНЬ ІНТЕНСИВІВ (УКР. МОВА ТА ЛІТЕРАТУРА)
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017
                .col-lg-4.col-md-6
                    .row.course-container.course--back-purple
                        .col-12
                            h4 ЕКСПРЕС КУРС З УКРАЇНСЬКОЇ ЛІТЕРАТУРИ
                        .col-md-10.course-container--note
                            div
                                p 10 уроків
                                a(href='//goo.gl/forms/H1lwXm0lO4Pyn2IB3' title='' target='blank').button Початок 04 вересня 2017

